<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <h1>Name: Mohammad Abbas</h1>
        <h1>Student ID:  N01579722</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>n01579722@humber.ca</p>
    </footer>
</body>
</html>
